.deck-container .deck-ignite{
  position: absolute;
  bottom: 40px;
  right: 15px;
  color: #aaa;
  z-index: 3;
  margin: 0;
}

body.deck-container .deck-ignite {
  position: fixed;
}

@media print {
  .deck-ignite {
    display: none;
  }
}
